{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "chrome": "80",
        },
        "useBuiltIns": "usage",
        "corejs": "3.6.4",
      },
    ],
  ],
  "plugins": ["@babel/plugin-transform-modules-commonjs", "@babel/plugin-transform-react-jsx", "@babel/plugin-proposal-optional-chaining"],
}
