{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "false",
        "loose": true,
        "targets": {
          "chrome": "79"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
  ]
}
