.blog-list-BlogCardList {
  width: 100%;
  min-height: 112px;
}

.blog-list-BlogCardList__row {
  width: 100%;
  margin-bottom: calc(var(--space) * 2);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.blog-list-BlogCardList__row:last-child + .blog-list-BlogCardList__row {
  width: 100%;
  margin-bottom: calc(var(--space) * 2);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.blog-list-BlogCardList__row:first-child {
  margin-bottom: calc(var(--space) * 2);
}

.blog-list-BlogCardList__row:last-child {
  margin-bottom: 0;
}

.blog-list-BlogCardList__column {
  padding-right: calc(var(--space) * 2);
}

.blog-list-BlogCardList__item {
  padding-right: calc(var(--space) * 2);
}
