<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script
      type="text/javascript"
      src="/<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"
    ></script>
    <% } %>
    <link rel="stylesheet" type="text/css" href="/app.css" />
    <script>
      WebFontConfig = {
        google: {
          families: ['Baloo+Thambi+2:400,500,600,700,800', 'M+PLUS+Rounded+1c:400,500,600,700,800']
        }
      };
      (function(d) {
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
        wf.async = true;
        s.parentNode.insertBefore(wf, s);
      })(document);
    </script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
