<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="/<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" async></script>
    <% } %>
    <link rel="preconnect" href="//fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="//ryotasugawara.github.io" crossorigin>
    <link rel="preload" as="style" onload="this.rel = 'stylesheet'" href="https://fonts.googleapis.com/css?family=Baloo+Thambi+2:700&display=swap&text=AmidaBlog%3A" />
    <link rel="preload" as="style" onload="this.rel = 'stylesheet'" href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:700&display=swap&text=%E3%81%82%E3%81%BF%E3%81%B6%E3%82%8D%E9%98%BF%E5%BC%A5%E3%81%B6%E3%82%8D%E3%82%A2%E3%83%9F%E3%83%96%E3%83%AD" />
    <link rel="preload" as="style" href="/app.css" />
    <link rel="stylesheet" href="/app.css" />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
