<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="/<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" async></script>
    <% } %>
    <link rel="preload" as="style" href="/app.css" />
    <link rel="stylesheet" href="/app.css" />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
